/* Los estilos de tu proyecto */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Primera setion*/
.navbar-default{
	background-color: #fff;
	border-color: #fff;
}

.fondo{
	background-image: url(../assets/images/taxi.jpg);
	width: 100%;
    height: 700px;
    background-position: 8% 92%;
    background-size: cover;
    
	
}

.jumbotron{
	background-color: #F7B617;
	color:#fff;
	font-size: 8px;
	margin-left: 10px;
	margin-right: -15px;
}

.jumbotron h1{
	font-size: 30px;
}

.boton{
	background:#fff;
	color:#000;
}

input{
	border:none;
	background:#F7B617;
	border-bottom:1px solid #fff;
}

input p{
text-align: center;
}

/*Segunda section*/
.telefono{
background:#F7B617;
height: 450px;
padding: 30px 0px;
padding-bottom: 30px;
}

.borde{
	border: 1px solid #fff;
	padding: 30px;
}

.telefono h1{
	color:#fff;
	font-size:px;
}


.telefono p {
	color:#fff;
	font-size: 20px;
}
/*Tercera section*/

.car {
	height: 450px;
	color:#fff;
	background-color: rgba(0,0,0,0.34);
	font-size: 20px;
	margin:0px;
	padding-top: 50px;
}

.img-responsive {
	background-image: url("../assets/images/conduce.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 450px;
}

.btn2{
	background:#F7B617;
	color: #fff;
}

/*Cuarta section*/
.container3{
	background:#F7B617;
    height: 450px;

}

.texto{
	font-size: 18px;
	color:#fff;
	margin-left: 60px;
	margin-top: 50px;
}


.form-control {
	background:#F7B617;
	box-sizing:border-box;
	margin-left: 10px;
	border-radius:4px;

}

.input-group input::placeholder{
	color:#fff;
	width: 200px;
	font-size: 15px
}

.btn{
	background:#fff;
	color:#000;
}

.mapa{
    margin-top:50px;
	padding:0px;

}
.tarifa{
	background:#F7B617;
}